<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="BasicHttpBinding_IWriteAPI">
          <security authenticationMode="UserNameOverTransport" />
          <textMessageEncoding />
          <httpsTransport/>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWriteAPI">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ipa.cbis.test.citybreak.com/WriteAPI.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWriteAPI"
        contract="Generated.IWriteAPI" name="BasicHttpBinding_IWriteAPI" />
    </client>
  </system.serviceModel>
</configuration>