<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWriteAPI" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ipa.cbis.citybreak.com/WriteAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWriteAPI"
                contract="Generated.IWriteAPI" name="BasicHttpBinding_IWriteAPI" />
        </client>
    </system.serviceModel>
</configuration>